div.col-md-8.col-md-offset-2
    form(name='AddEmployeeCtrl.joiningDetailForm', dirty='AddEmployeeCtrl.joiningDetailForm.$dirty',
             browser-confirm='AddEmployeeCtrl')
        div.form-group(ng-class="{'has-error': AddEmployeeCtrl.joiningDetailForm.dateOfJoining.$invalid && AddEmployeeCtrl.joiningDetailForm.dateOfJoining.$dirty}")
            label(for='dateOfJoining', translate='DATE_OF_JOINING_TEXT')
            input.form-control(id='dateOfJoining', name='dateOfJoining' type='date', ng-model='AddEmployeeCtrl.employee.dateOfJoining', required)
            span.help-block(ng-if= 'AddEmployeeCtrl.joiningDetailForm.dateOfJoining.$error.required && AddEmployeeCtrl.joiningDetailForm.dateOfJoining.$dirty',
                translate='DATE_OF_JOINING_REQUIRED_TEXT')
            span.help-block(ng-if='AddEmployeeCtrl.joiningDetailForm.dateOfJoining.$invalid && AddEmployeeCtrl.joiningDetailForm.dateOfJoining.$dirty', translate='DOJ_VALID_DATE_TEXT')
        div.form-group(ng-class="{'has-error': AddEmployeeCtrl.joiningDetailForm.department.$invalid && AddEmployeeCtrl.joiningDetailForm.department.$dirty}")
            label(for='department', translate='DEPARTMENT_TEXT')
            input.form-control(id='department', name='department' type='text', ng-model='AddEmployeeCtrl.employee.department',
                    ng-pattern='AddEmployeeCtrl.validationPatterns.EMPTY_SAFE_STRING',
                    ng-maxlength="{{AddEmployeeCtrl.validationPatterns.STANDARD_MAX_INPUT}}")
            span.help-block(ng-if='AddEmployeeCtrl.joiningDetailForm.department.$error.pattern', translate='INPUT_FIELD_CONTAINS_ILLEGAL_CHARACTERS')
            span.help-block(ng-if='AddEmployeeCtrl.joiningDetailForm.department.$error.maxlength', translate='TO_MANY_CHARACTERS_TEXT')

div.col-xs-12
    md-button.md-raised.other-button.pull-left(aria-label='Cancel Add Employee', dirty='AddEmployeeCtrl.personalDetailForm.$dirty', modal-confirm='AddEmployeeCtrl')
        i.glyphicon.glyphicon-remove
        span(translate='CANCEL_TEXT')
    md-button.md-raised.md-primary.pull-right(id='next-confirm', ng-disabled="AddEmployeeCtrl.joiningDetailForm.$invalid"
        wz-next, aria-label='Next is confirm screen')
        span(translate='NEXT_TEXT')
        span.glyphicon.glyphicon-chevron-right
    md-button.md-raised.md-secondary.pull-right(id='previous-joining-form', wz-previous,
        aria-label='Previous Personal Detail Form')
        i.glyphicon.glyphicon-chevron-left
        span(translate='PREVIOUS_TEXT')